{% extends 'base/base.html' %}
{% block content %}

<div class="panel-body">
    {% if msg %}
    <div class="row">
        <div class="col" style="margin-left: 10px; margin-right: 10px">
            <div class="alert {{notification.icon}}"><i class="fas fa-bell"></i>
                {{notification.msg}}
            </div>
        </div>
    </div>
    {% endif %}
    <form class="form-horizontal" method="POST">
        <fieldset>
            {% csrf_token %}
            {% for i in form %}
            <div class="form-group">
                <label class="col-md-1 control-label">{{ i.label }}</label>
                <div class="col-md-11">
                    {{ i }}
                </div>
            </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md pull-left">Salvar</button>
                    <a href="{% url 'categoria:list-category' %}" class="btn btn-success">Categorias <i class="fas fa-grip-horizontal"></i></a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}