{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% if msg %}
    <div class="alert {{notification.icon}}"> <i class="fas fa-bell"></i>
        {{notification.msg}}
    </div>
    <a href="{% url 'cliente:new-cliente'%}" class="btn btn-success">Cadastrar cliente</a>
{% else %}
<div class="panel-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">Ação</th>
                <th class="text-center">Nome</th>
                <th class="text-center">CPF</th>
                <th class="text-center">Telefone</th>
                <th class="text-center">Email</th>
                <th class="text-center">Data</th>
            </tr>
            </thead>
            <tbody>
            {% for u in clientes %}
            <tr>
                <td align="center">
                    <div class="btn-group btn-group-sm shadow" role="group" aria-label="Basic example">
                        <a href="{% url 'cliente:edit-cliente' u.pk %}" class="btn btn-success btn-sm shadow"><i class="fas fa-pencil-alt"></i></a>
                        <button class="btn btn-danger btn-trash" value="{{ u.pk }}"><i class="fas fa-trash text-white"></i></button>
                    </div>
                </td>
                <td align="center">{{ u.nome }}</td>
                <td align="center">{{ u.cpf }}</td>
                <td align="center">{{ u.telefone }}</td>
                <td align="center">{{ u.email }}</td>
                <td align="center">{{ u.data }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row ">
    <div class="col-md-3 ml-md-auto">
        <a href="{% url 'cliente:new-cliente' %}" class="btn btn-success">Novo cliente</a>
    </div>
</div>
{% endif %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/cliente/cliente.js' %}"></script>
{% endblock %}
