<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<div class="profile-sidebar">
		<div class="profile-usertitle dropdown">
			<button class="btn text-dark dropdown-toggle profile-usertitle-name" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{request.user.first_name|truncatewords:2}}
				<span class="indicator label-success"></span>
				<span class="caret"></span>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="{% url 'user:my-profile'%}">Meu perfil <i class="fas fa-pencil-alt"></i></a><br><br>
				<a class="dropdown-item text-danger" href="{% url 'utils:logout'%}">Sair <i class="fas fa-power-off"></i></a>
			  </div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="divider"></div>
	<ul class="nav menu">
		<li class="nav-item">
			<a class="btn text-white bg-primary" href="{% url 'utils:dashboard_admin' %}">
				Dashboard
				<i class="fas fas fa-chart-pie"></i>
			</a>
		</li>
		<hr>
		{% if request.user.is_superuser %}

			<li class="nav-item">
				<a data-toggle="collapse" href="#user">
					<i class="fas fa-users"></i>
					&nbsp;
					Usuários
					<span class="caret"></span>
				</a>
				<div class="collapse" id="user">
					<ul class="nav nav-collapse">
						<li>
							<a href="{% url 'user:new-user' %}">
								<span class="sub-item">Cadastro de Usuários</span>
							</a>
						</li>
						<li>
							<a href="{% url 'user:list-user' %}">
								<span class="sub-item">Usuários Cadastrados</span>
							</a>
						</li>
						
					</ul>
				</div>
			</li>


			<li class="nav-item">
				<a data-toggle="collapse" href="#company">
					<i class="fas fa-plus"></i>
					&nbsp;
					Empresa
					<span class="caret"></span>
				</a>
				<div class="collapse" id="company">
					<ul class="nav nav-collapse">
						<li>
							<a href="{% url 'company:new-company' %}">
								<span class="sub-item">Nova Empresa</span>
							</a>
						</li>
						<li>
							<a href="{% url 'company:list-company' %}">
								<span class="sub-item">Empresas Cadastradas</span>
							</a>
						</li>
						
					</ul>
				</div>
			</li> 

			<li class="nav-item">
				<a data-toggle="collapse" href="#store">
					<i class="fas fa-store"></i>
					&nbsp;
					Lojas
					<span class="caret"></span>
				</a>
				<div class="collapse" id="store">
					<ul class="nav nav-collapse">
						<li>
							<a href="{% url 'store:new-store' %}">
								<span class="sub-item">Nova Loja</span>
							</a>
						</li>
						<li>
							<a href="{% url 'store:list-store' %}">
								<span class="sub-item">Loja Cadastradas</span>
							</a>
						</li>
						
					</ul>
				</div>
			</li> 
		{% endif %}
		<li class="nav-item">
			<a data-toggle="collapse" href="#cliente">
				<i class="fa fa-users"></i>
				&nbsp;
				Cliente
				<span class="caret"></span>
			</a>
			<div class="collapse" id="cliente">
				<ul class="nav nav-collapse">
					<li>
						<a href="{% url 'cliente:new-cliente' %}">
							<span class="sub-item">Novo Cliente</span>
						</a>
					</li>
					<li>
						<a href="{% url 'cliente:list-cliente' %}">
							<span class="sub-item">Clientes Cadastrados</span>
						</a>
					</li>
					
				</ul>
			</div>
		</li> 

		<li class="nav-item">
			<a data-toggle="collapse" href="#categoria">
				<i class="fas fa-grip-horizontal"></i>
				&nbsp;
				Categorias
				<span class="caret"></span>
			</a>
			<div class="collapse" id="categoria">
				<ul class="nav nav-collapse">
					<li>
						<a href="{% url 'categoria:new-category' %}">
							<span class="sub-item">Nova Categoria</span>
						</a>
					</li>
					<li>
						<a href="{% url 'categoria:list-category' %}">
							<span class="sub-item">Categorias Cadastradas</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</li> 

		<li class="nav-item">
			<a data-toggle="collapse" href="#produto">
				<i class="fa fa-boxes"></i>
				&nbsp;
				Produtos
				<span class="caret"></span>
			</a>
			<div class="collapse" id="produto">
				<ul class="nav nav-collapse">
					<li>
						<a href="{% url 'item:new-produto' %}">
							<span class="sub-item">Novo Produto</span>
						</a>
					</li>
					<li>
						<a href="{% url 'item:list-produto' %}">
							<span class="sub-item">Produtos Cadastrados</span>
						</a>
					</li>
					
				</ul>
			</div>
			
		</li> 

		<li><a href="{% url 'pedido:list-pedido' %}"><em class="fa fa-clone"></em> Histórico de Pedidos</a></li>
		<!-- <li><a target="blank" href="{% url 'pedido:new-pedido' %}" class="btn btn-warning"><i class="fa fa-plus text-dark"></i> Checkout cart </a></li> -->
		<li><a target="blank" href="{% url 'utils:checkout' %}" class="btn btn-primary"><i class="fa fa-plus text-white"></i> Checkout </a></li>
	</ul>
</div>
<!-- <li class="nav-item">
	<a data-toggle="collapse" href="#forms">
		<i class="fas fa-users"></i>
		<p>Usuários</p>
		<span class="caret"></span>
	</a>
	<div class="collapse" id="forms">
		<ul class="nav nav-collapse">
			<li>
				<a href="#">
					<span class="sub-item">Cadastro de Usuários</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="sub-item">Usuários Cadastrados</span>
				</a>
			</li>
			
		</ul>
	</div>
</li>  -->
